<html>
<head>
<title></title>
<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <style type="text/css">
        #holder {
                width: 100vw;
                height: 95pvh;
                border: 1px solid silver;
                margin: auto;
                position: relative;
                border-radius: 20px;
        }
        h3 {
            background: #FF512F;
            background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
            background: linear-gradient(to right, #DD2476, #FF512F);
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            font-family: 'Lato';
            color: white;
            height: 60px;
            text-align: left;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding-top: 10px;
            text-align: center;
            font-size: 40px;
        }
        input {
            position: absolute;
            bottom: 0;
            outline: none !important;
            width: 85%;
            left: 0;
            height: 80px;
            font-size: 40px;
            border-bottom-left-radius: 20px;
            padding: 10px;
            border: none;
            border-top: 1px solid silver;
            transition: 0.2s;
        }
        input:focus{
          box-shadow: 0 0 5px coral;
          border: 1px solid coral;
          border-bottom-left-radius: 20px;
        }
        #content {
            overflow: auto;
            width: 100%;
            height: 80vh;
            background: whitesmoke;
        }
        
        .chatbot {
            text-align: left;
            margin: 10px;
        }
        .chatbotspan {
                font-size: 40px;
                background: white;
                color: black;
                padding: 10px;
                border-radius: 5px;
                font-family: 'Lato';
                max-width: 55%;
                text-align: left;
                display: inline-block;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
        }
        .user {
            text-align: right;
            margin: 10px;

        }
        ul {
                padding: 0;
                text-align: left;
                -webkit-margin-before: 0;
                -webkit-margin-after: 0;
                margin: 10px;
        }
        li {
                background: white;
                display: inline-block;
                color: black;
                padding: 10px;
                border-radius: 5px;
                font-family: 'Lato';
                max-width: 55%;
                padding: 10px;
        }
        /*.user::after {
                content: "";
                position: absolute;
                border-bottom: 10px solid transparent;
                border-left: 28px solid #824F5D;
                right: 0px;
        }*/
        .userspan {
            font-size: 40px;
            background: #824F5D;
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-family: 'Lato';
            max-width: 55%;
            text-align: left;
            display: inline-block;
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
        }
        #loading {
            float: left;
            transition: .2s;
        }
        .action {
            color: white;
            padding: 10px 20px 10px 20px;
            border: none;
            font-family: sans-serif;
            border-radius: 20px;
            width: 40%;
            background: steelblue;
            margin-top: 10px;
            font-size: 40px;
            display: inline-block;
            border-radius: 110px;
            width: 200px;
            height: 200px;
            vertical-align: top;
        }
        #go {
            background-color: cornflowerblue;
            width: 14.9%;
            right: 0;
            border: none;
            position: absolute;
            bottom: 0;
            color: white;
            height: 80px;
            border-bottom-right-radius: 20px;
        }
        .img_span {
            margin-bottom: 5px;
            display: inline-block;
            width: 100%; text-align: center;
            border-bottom: 1px solid maroon;
        }
        #option_content {
            overflow-x: auto; 
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

        $(document).ready(function (){
            var objDiv = document.getElementById("content");
            // this triggers the connection event in our server!
            var socket = io.connect();

            $('input').keypress(function(e) {
                if(e.which == 13) {
                    if($('input').val() != "" && $('input').val() != " "){
                        $('button').prop('disabled', 'disabled');
                        $('#content').append("<div class='user'><span class='userspan'>"+$('input').val()+"</span></div><img id='loading' style='width: 50px' src='http://res.cloudinary.com/ltrzxluwr/image/upload/v1499347205/ezgif.com-crop_oy4awb.gif'>");
                        
                        socket.emit("user_sent", {reason: $('input').val()});
                        $('input').val("");
                        
                        objDiv.scrollTop = objDiv.scrollHeight;
                        }
                    }
            });
             $('#go').click(function (){
                console.log($('input').val());
                if($('input').val() != "" && $('input').val() != " "){
                    $('button').prop('disabled', 'disabled');
                    $('#content').append("<div class='user'><span class='userspan'>"+$('input').val()+"</span></div><img id='loading' style='width: 50px' src='http://res.cloudinary.com/ltrzxluwr/image/upload/v1499347205/ezgif.com-crop_oy4awb.gif'>");
                    
                    socket.emit("user_sent", {reason: $('input').val()});
                    $('input').val("");
                    
                    objDiv.scrollTop = objDiv.scrollHeight;
                }
                });
                socket.on('didyoumean', function (data) {
                    $('button').prop('disabled', false);
                    $('#content').append(data.response);
                    $('#loading').remove();
                    objDiv.scrollTop = objDiv.scrollHeight; 
                })
                socket.on('server_response', function (data){
                    if(data.reason == "hb"){
                        $('button').prop('disabled', false);
                        $('#content').append(data.response);
                         $('#loading').remove();
                        objDiv.scrollTop = objDiv.scrollHeight; 
                    }
                    else{$('button').prop('disabled', false);
                        $('#content').append("<div class='chatbot'><p class='chatbotspan'>"+data.response+"</p></div>");
                        $('#loading').remove();
                        console.log('The server says: ' + data.response);
                        objDiv.scrollTop = objDiv.scrollHeight; 
                    }
                });
            $('#tribe_info').click(function() {
                socket.emit("about_tribes");
            })
            $('#clan_info').click(function() {
                socket.emit("about_clans");
            })
            $('#vilages_info').click(function() {
                socket.emit("about_vilalges");
            })
            $('#habari_info').click(function() {
                socket.emit("habari_info");
            })
        })

    </script>
</head>
<body>
    <!-- <button>I AM A BUTTON!</button> -->
    <div id="holder">

        <h3><img style="width: 57px;" src="habari_logo.png"><span style="vertical-align: top; margin-left: 10px;">Habari Chat Bot</span></h3>
        <div id="content">
            <div class="chatbot"> <p class="chatbotspan">Hello! My name is Habari. What would you like help with?.</p></div>
            <div class="chatbot"> <p class="chatbotspan">Here are some options to get you started.</p></div>
            <div id="option_content">
            <button class="action" id="habari_info"></button>
            <button class="action" id="tribe_info"></button>
            <button class="action" id="clan_info"></button>
            <button class="action" id="vilages_info"></button>
            <button class="action" id="vilages_info"></button>
            <button class="action" id="vilages_info"></button>
            <button class="action" id="vilages_info"></button>
            <button class="action" id="vilages_info"></button>
            </div>
        </div>
        <input placeholder="Send a message" type="text">
        <button id="go">
            <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512">
            <title></title>
            <g id="icomoon-ignore">
            </g>
            <path d="M288 124.186v-124.186l192 192-192 192v-126.912c-223.375-5.241-213.794 151.896-156.93 254.912-140.356-151.707-110.55-394.785 156.93-387.814z"></path>
            </svg>
        </button>
    </div>
    <!-- web page goes here -->
</body>
</html><br>