<html>
<head>
<title></title>
<link href="https://fonts.googleapis.com/css?family=Lato:300" rel="stylesheet">
    <style type="text/css">


        body {
            padding: 150px;
            margin: auto;
            text-align: center;
        }
        #holder {
                width: 300px;
                height: 450px;
                border: 1px solid silver;
                margin: auto;
                position: relative;
                border-radius: 20px;
        }
        h3 {
            background: #FF512F;
            background: -webkit-linear-gradient(to right, #DD2476, #FF512F);
            background: linear-gradient(to right, #DD2476, #FF512F);
            -webkit-margin-before: 0em;
            -webkit-margin-after: 0em;
            font-family: 'Lato';
            color: white;
            height: 30px;
            text-align: left;
            padding-left: 10px;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
            padding-top: 10px;
            text-align: center;
        }
        input {
            position: absolute;
            bottom: 0;
            width: 85%;
            left: 0;
            height: 40px;
        }
        #content {
            overflow: auto;
            width: 100%;
            height: 368px;
        }
        
        .chatbot {
            text-align: left;
            margin: 10px;
        }
        .chatbotspan {
                background: palevioletred;
                color: white;
                padding: 10px;
                border-radius: 5px;
                font-family: 'Lato';
                max-width: 55%;
                text-align: left;
                display: inline-block;
        }
        .user {
            text-align: right;
            margin: 10px;

        }
        .userspan {
            background: cornflowerblue;
            color: white;
            padding: 10px;
            border-radius: 5px;
            font-family: 'Lato';
            max-width: 55%;
            text-align: left;
            display: inline-block;
        }
        #loading {
            float: left;
            transition: .2s;
        }
        .action {
            color: white;
            padding: 10px 20px 10px 20px;
            border: none;
            font-family: sans-serif;
            border-radius: 7px;
            width: 60%;
            background: tomato;
            margin-top: 10px;
        }
        #go {
            background-color: cornflowerblue;
            width: 14.9%;
            right: 0;
            border: none;
            position: absolute;
            bottom: 0;
            color: white;
            height: 40px;
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">

        $(document).ready(function (){
            var objDiv = document.getElementById("content");
            // this triggers the connection event in our server!
            var socket = io.connect();

            $('input').keypress(function(e) {
                if(e.which == 13) {
                    $('#content').append("<p class='user'><span class='userspan'>"+$('input').val()+"</span></p><img id='loading' style='width: 50px' src='http://res.cloudinary.com/ltrzxluwr/image/upload/v1499347205/ezgif.com-crop_oy4awb.gif'>");
                    
                    socket.emit("user_sent", {reason: $('input').val()});
                    $('input').val("");
                    
                    objDiv.scrollTop = objDiv.scrollHeight;
                    }
            });
             $('#go').click(function (){
                $('#content').append("<p class='user'><span class='userspan'>"+$('input').val()+"</span></p><img id='loading' style='width: 50px' src='http://res.cloudinary.com/ltrzxluwr/image/upload/v1499347205/ezgif.com-crop_oy4awb.gif'>");
                
                socket.emit("user_sent", {reason: $('input').val()});
                $('input').val("");
                
                objDiv.scrollTop = objDiv.scrollHeight;
                });
                socket.on('server_response', function (data){
                    $('#content').append("<p class='chatbot'><span class='chatbotspan'>"+data.response+"</span></p>");
                    $('#loading').remove();
                    console.log('The server says: ' + data.response);
                    objDiv.scrollTop = objDiv.scrollHeight; 
                });
            $('#tribe_info').click(function() {
                socket.emit("about_tribes");
            })
            $('#clan_info').click(function() {
                socket.emit("about_clans");
            })
            $('#vilages_info').click(function() {
                socket.emit("about_vilalges");
            })
        })
    </script>
</head>
<body>
    <!-- <button>I AM A BUTTON!</button> -->
    <div id="holder">
        <h3>Habari Chat Bot</h3>
        <div id="content">
            <p class="chatbot"> <span class="chatbotspan">Hello! My name is Habari. What would you like help with?.</span></p>
            <p class="chatbot"> <span class="chatbotspan">Here are some options to get you started.</span></p>
            <button class="action" id="tribe_info">Tell me about tribes</button><br>
            <button class="action" id="clan_info">What is a clan?</button><br>
            <button class="action" id="vilages_info">How are villages made</button>
        </div>
        <input placeholder="Send a message" type="text">
        <button id="go">
            <svg fill="white" version="1.1" xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 512 512">
            <title></title>
            <g id="icomoon-ignore">
            </g>
            <path d="M288 124.186v-124.186l192 192-192 192v-126.912c-223.375-5.241-213.794 151.896-156.93 254.912-140.356-151.707-110.55-394.785 156.93-387.814z"></path>
            </svg>
        </button>
    </div>
    <!-- web page goes here -->
</body>
</html><br>